.card {
    overflow: hidden;
    margin: 10px;
    height: 30rem;
    width: 25rem;
    
  border-color: black;
}

.card-image:hover {
  transform: scale(1.05);
}

.card-image {
  width: 439px;
  height: auto;
  transition: transform 0.2s;

}

.card-content-overlay {
  position: absolute;
  text-align: left;
  top: 80%;
  padding: 20px;
}